<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plaid Quickstart Example</title>
    <link rel="stylesheet" href="https://threads.plaid.com/threads.css" />

    <link rel="stylesheet" type="text/css" href="./static/style2.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  
  <body>
    <main class="main">
      <div class="grid">
        <div class="grid__column grid__column--is-twelve-columns">
          <div id="banner" class="everpresent-content">
            <h1 class="everpresent-content__heading">Mitra Quickstart</h1>
            <p id="intro" class="everpresent-content__subheading">
              An example application that outlines an end-to-end integration
              with Plaid
            </p>
            <p id="steps" class="everpresent-content__subheading">
              Sign In
            </p>
          </div>
      
          <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                  {{ form.access_token.label }}<br>
                  {{ form.access_token(size=32) }}
              </p>
              <p>
                  {{ form.item_id.label }}<br>
                  {{ form.item_id(size=32) }}
              </p>
              <p>{{ form.submit() }}</p>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>

